.album-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-gap: 20px;
  transition: all 0.3s ease-in;
  position: relative;
}

.album-img-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.album-img-grid img {
  max-height: 220px;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 700px) {
  .album-grid {
    grid-template-columns: 1fr;
  }
  .album-img-grid {
    grid-template-columns: 1fr;
  }
}
