/* autoprefixer: off */
.Blog .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* global for now */
.menu {
  padding: 0.8rem 1.5rem;
  margin-bottom: 10px;
}

.menu > * {
  margin-right: 10px !important;
}

.Blog .posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 1.5rem;
}
