.CoverPicture {
  height: 300px;
  width: 100%;
  position: relative;
}

.CoverPicture .img {
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: all 0.3s ease-in;
}

.CoverPicture .edit {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.CoverPicture .edit-center {
  display: flex;
  height: 90%;
  max-width: 1000px;
  margin: auto;
  align-items: flex-end;
}

.CoverPicture .fab-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CoverPicture .fab-div > *:first-child {
  margin-right: 15px;
}

.CoverPicture .icon > span > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
